{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
<script type="text/javascript" src={% static "admin/js/jquery.min.js" %}></script>

{% if time_left %}
<script type="text/javascript" src='{% static 'js/update_clock.js' %}'></script>
{% endif %}
{% endblock %}
{% block messages %}
{% if event_type == 'backup' %}
    <div class="main-message" style="background-color: red; text-align: center; ">
        <span style="color: white; margin: 60px 0 60px 0; padding-bottom: 10px;">Система  начнет автоматический бекап через <span id='clock'>{{ time_left }}</span> минут. Во время бекапа данные будут недоступны и Ваш доступ в систему будет закрыт. Просим сохранить данные и выйти из системы до начала бекапа. Приблизительное время восстановления {{ time_update }}</span>
    </div>
{% elif event_type == 'restore' %}
    <div class="main-message" style="background-color: red; text-align: center; ">
      <span style="color: white; margin: 60px 0 60px 0; padding-bottom: 10px;">В связи с техническими неполадками система произведет восстановление от{% for val in dates %} {{ val|date:"D d M Y" }} {{ val|time:"H:i" }}{% endfor %} через <span id='clock'>{{ time_left }}</span> минут. Приблизительное время восстановления {{ time_update }}</span>
    </div>
{% endif %}
{% if messages %}
<ul class="messagelist">{% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
  {% endfor %}</ul>
{% endif %}
{% endblock messages %}
